/Car_maker_task/nbproject/private/
/Car_maker_task/build/
/Car_maker_task/build.xml
/Car_maker_task/nbproject/build-impl.xml
/Car_maker_task/nbproject/genfiles.properties
/Car_maker_task/nbproject/project.properties
/Car_maker_task/nbproject/project.xml
/Car_maker_task/manifest.mf