<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>com.epam.cars.web.Search</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ListCars</servlet-name>
        <servlet-class>com.epam.cars.web.ListCars</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>ListCars</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddCar</servlet-name>
        <servlet-class>com.epam.cars.web.AddCar</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>AddCar</servlet-name>
        <url-pattern>/new</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>EditCar</servlet-name>
        <servlet-class>com.epam.cars.web.EditCar</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>EditCar</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
</web-app>
